body {
    color: $white;
}

.container {
    height: 100vh;
    width: 100vw;
}

.customize-button {
    button {
        background-color: #4db091;
    }
}

.item-center {
    display: flex;
    align-items: center;
}

.component-weather {
    width: 50vw;

    &-item {
        background: #a4dbca;
        margin: 1.5rem 0;
        border-radius: 1rem;
        padding: 1.5rem;

        .chart-container {
            height: 20rem;
        }
    }
}

.component-search {
    height: 6rem;
    width: 50vw;
    background: #a4dbca;
    margin: 1.5rem 0;
    border-radius: 1rem;
    padding: .5rem;

    div:nth-child(1) {
        label {
            position: absolute;
            left: 8.5rem;
            top: 0;
        }
    }

    div:nth-child(2) {
        button {
            width: 7rem;
        }
    }
}
